.menu-button {
    border: none;
    background-color: #379902;
    color: white;
    padding: 20px 0;
    width: 220px;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #2e7a02;
}