.list-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .list-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 650px;
        margin-bottom: 0;
    }
}
@media (min-width: 1280px) {
    .list-header {
        width: 1000px;
    }
}