.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    font-family: 'Roboto';
}

.texts {
    width: 100%;
    max-width: 400px;
    font-family: 'Roboto';

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
        font-weight: 100;
    }
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.menu-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
}

.empty-warning {
    font-weight: 100;
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }

    .texts {
        max-width: 100%;
    }

    .menu-buttons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 500px;
    }

    .menu-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1000px;
    }
    
    .texts {
        max-width: 100%;
    }

    .menu-buttons {
        max-width: 100%;
    }

    .menu-cards {
        max-width: 100%;
    }
}